body {
}
.track {
    height: 400px;
    width: 150px;
    position: relative;
    float: left;
    margin-right: 20px;
    border: 1px solid black;
}
.ball {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: black;
    top: calc(100% - 30px);
    left: calc(50% - 15px);
    border-radius: 15px;
    cursor: pointer;
}
.roll {
    top: -60px;
    transition: linear 1s;
}
.pin {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
}

.trackScoreTable {

}
.frame {
    width: 60px;
    height: 60px;
    border: solid 1px black;
    position: relative;
    display: inline-block;
}
.frame div {
    border: solid 1px black;
    position: absolute;
    line-height: 30px;
    text-align: center;
}
.frame .first {
    width: 30px;
    height: 30px;
    top:-1px;
    left:-1px;
}
.frame .second {
    width: 30px;
    height: 30px;
    top:-1px;
    right:-1px;
}
.frame .score {
    width: 60px;
    height: 30px;
    bottom:-1px;
    left:-1px;
}